.witblok {
	width: 68.07%;
	position: absolute;
	background-color: white;
	border: 1px solid black;
	margin-top: 20px;
}

body, html {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
	height: 100%;
}


.wifi {
	position: fixed;
	left: 2000px;
}