html {
    margin: 0;
    padding: 0;
    background-image: url("../content/01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.diffuser {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.coverbackground {
    position: absolute;
    width: 100%;
    height: 96%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 60%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.4);
}

.header {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.groen {
    background-color: #558971;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 400;
}

.groentxt {
    text-align: center;
}
 nav {
    width: 100%;
    height: 4%;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
 }

 ul {
     /* border: 1px solid black; */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 li > a, li {
    list-style-type: none;
    color: #558971;
    text-align: center;
    padding: 0 25px 0 0;
 }

 li > a:hover, li:hover {
    color: #395c4c;
    cursor: default;
 }

 .footer {
    
 }